.idea

/target
/log

/onnx-ort-train-sentiment-dataset/data/csvs

/onnx-model/google-bert-chinese/pyvenv
/onnx-model/google-bert-chinese/onnx-training
/onnx-model/google-bert-chinese/model
/onnx-model/google-bert-chinese/base_model
/onnx-model/google-bert-chinese/onnx-artifacts

